---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

$margin-standard: 15px;
$margin-small: $margin-standard * 0.6667;
$margin-xsmall: $margin-standard * 0.3333;
$margin-large: $margin-standard * 1.3333;
$margin-xlarge: $margin-standard * 1.6667;

$padding-standard: 15px;
$padding-small: $padding-standard * 0.6667;
$padding-xsmall: $padding-standard * 0.3333;
$padding-large: $padding-standard * 1.3333;
$padding-xlarge: $padding-standard * 1.6667;

@import
  "mixins/layout",
  "core/reset",
  "core/layout",
  "core/base",
  "core/typography",
  "mixins/typography",
  "core/icons",
  "core/code",
  "components/header",
  "components/footer",
  "components/page",
  "components/post",
  "cover",
  "home"
;
