$background-color: #fdfdfd;

$brand-color:      #2aa74d;
$brand-color-dark: darken($brand-color, 10%);
$brand-color-light: lighten($brand-color, 10%);

$accent-color: #743FB4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

html, body {
  height: 100%;
}

body {
    background-color: $background-color;
}

blockquote {
  background-color: $grey-color-light;
  border-left: 4px solid $brand-color;
  padding: $padding-xsmall $padding-large;
  margin: $margin-standard 0;
}
