.nav-button {
  @include border-radius($padding-large * 2);
  padding: $padding-small $padding-xlarge;
  color: $text-color;
  font-size: $font-size-small;
  background-color: #fff;
  border: 1px solid lighten($text-color, 65%);
  transition: background-color .3s;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $brand-color;
    color: $text-color-light;
  }
}
