@mixin cover($backgroundColor, $height: 100%) {
  height: $height;
  background-color: $backgroundColor;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include clearfix;
}

@mixin cover-image($image, $height: 100%, $backgroundColor: #333333) {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$image, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$image, sizingMethod='scale')";
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0px, rgba(0,0,0,0.6) 60px,rgba(0,0,0,0) 120px), url($image) no-repeat left top;

  @include cover($background-color, $height);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
