---
layout: main
---

<header class="site-header hero">

    <div class="wrapper">
        <img src="https://gravatar.com/avatar/eee690831d746dde702efabb2294c110?s=150" class="avatar" />

        <h1 class="site-title">{{ site.title }}</h1>

        <p class="text">{{ site.description }}</p>

        <nav class="links">

            <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github"></i>
            </a>

            <a href="https://twitter.com/{{ site.twitter_username}}">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope"></i>
            </a>

            <a href="/feed.xml">
                <i class="fa fa-rss"></i>
            </a>

        </nav>
    </div>

</header>

<section class="wrapper recent-posts">
    <a class="view-all" href="{{ site.baseUrl }}/blog">View all</a>
    <h2>Recent posts</h2>

    {% for post in site.posts limit:3 %}
        <article class="post-excerpt">
            <h3>
                <a href="{{ post.url | prepend: site.baseUrl }}">{{ post.title }}</a></h3>
            {{ post.excerpt }}
            <a href="{{ post.url | prepend: site.baseUrl }}" class="read-more">Read more</a>
        </article>
    {% endfor %}
</section>

{% include footer.html %}