<footer class="site-footer">
  <div class="container">
    <div class="brand">
      <img src="https://gravatar.com/avatar/eee690831d746dde702efabb2294c110?s=150" class="avatar" />
      {{site.title}}
    </div>

    <nav class="social-media">
      <a href="https://github.com/{{ site.github_username }}">
        <img src="/images/icons/github-logo.svg" alt="Github" />
      </a>

      <a href="https://twitter.com/{{ site.twitter_username }}">
        <img src="/images/icons/twitter-logo.svg" alt="Twitter" />
      </a>

      <a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}">
        <img src="/images/icons/linkedin-logo.svg" alt="Linkedin" />
      </a>

      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <img src="/images/icons/rss-symbol.svg" alt="RSS" />
      </a>
    </nav>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/scripts/layout.js"></script>
