<footer class="site-footer">
  <div class="container">
    <div class="brand">
      <img src="https://gravatar.com/avatar/eee690831d746dde702efabb2294c110?s=150" class="avatar" />
      {{site.title}}
    </div>

    <nav>
      <a href="https://github.com/{{ site.github_username }}" class="button icon">
        <i class="fa fa-github"></i>
      </a>

      <a href="https://twitter.com/{{ site.twitter_username }}" class="button icon">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}" class="button icon">
        <i class="fa fa-linkedin"></i>
      </a>

      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="button icon">
        <i class="fa fa-rss"></i>
      </a>
    </nav>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/scripts/layout.js"></script>
