<header class="site-header">
  <h1>
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>

  <nav>
    <a href="https://github.com/{{ site.github_username }}" title="Github">
        <i class="fa fa-github"></i>
    </a>
    <a href="https://twitter.com/{{ site.twitter_username}}" title="Twitter">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="mailto:{{ site.email }}" title="Email">
        <i class="fa fa-envelope"></i>
    </a>
    <a href="{{ site.baseUrl }}/blog" title="Blog">
        <i class="fa fa-rss"></i>
    </a>
  </nav>
</header>
