<header class="site-header">
  <a href="{{ site.baseurl }}/">
    <img src="https://gravatar.com/avatar/eee690831d746dde702efabb2294c110?s=150" class="avatar" />
    <h1>
        {{ site.title }}
    </h1>
  </a>

  <nav>
    <a href="https://github.com/{{ site.github_username }}" title="Github">
        <i class="fa fa-github"></i>
    </a>
    <a href="https://twitter.com/{{ site.twitter_username}}" title="Twitter">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="mailto:{{ site.email }}" title="Email">
        <i class="fa fa-envelope"></i>
    </a>
    <a href="{{ site.baseUrl }}/blog" title="Blog" class="blog">
        <i class="fa fa-file-text"></i>
    </a>
  </nav>
</header>
