.hero {
  @include cover($brand-color, 50%);
  color: $text-color-light;
  font-weight: normal;

  .container {
    text-align: center;
  }

  .avatar {
    border: 4px solid $text-color-light;
    height: 150px;
    width: 150px;

    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
  }
}
