.content {
  @extend %content;
}

.post-collection {
  $dividing-border-color: lighten($text-color, 70%);
  margin-bottom: $margin-xlarge;

  header {
    @extend %flex;
  }

  div {
    //@include clearfix;
  }

  h1 {
    @extend %title;
  }

  h2 {
    font-size: $font-size-xlarge;
  }

  %post-excerpt {
    padding: $padding-large;
    background-color: #fff;
    margin: 0 $margin-small;
    @include box-shadow(0px 1px 1px 1px lighten($text-color, 60%));
  }

  .primary-post-excerpt {
    @extend %post-excerpt;
    margin: $margin-standard 0;
  }

  .post-excerpt {
    @extend %post-excerpt;
    @extend %flex;
    align-items: flex-start;
    flex: 1 1 33.3333%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 801px) {
    div {
      display: flex;
    }
  }

  @media screen and (max-width: 800px) {
    div {
      display: static;
    }

    .primary-post-excerpt {
      border-bottom: 1px solid $dividing-border-color;
    }

    .post-excerpt {
      flex: none;
      display: block;
      padding: 0;

      &:first-child {
        padding-left: 0;
        padding-right: 0;
        border-right: 0;
      }

      &:last-child {
        padding-left: 0;
        padding-right: 0;
        border-left: 0;
      }
    }
  }
}
