.content {
  @extend %content;
}

.latest-post-collection {
  $dividing-border-color: lighten($text-color, 70%);
  margin-bottom: $margin-xlarge;

  header {
    @extend %flex;
  }

  h1 {
    @extend %title;
  }

  div {
    display: flex;
    @include breakpoint(tablet) { display: block; }
  }

  .primary-post-excerpt {
    @extend %post-excerpt;
    margin: $margin-standard 0;
  }

  .post-excerpt {
    @extend %post-excerpt;
    @extend %flex;
    align-items: flex-start;
    flex: 1 1 33.3333%;

    @include breakpoint(tablet) { margin: $margin-standard 0; }

    // @include breakpoint(mobile) {
    //   flex: 1 0 100%;
    //   flex-flow: column;
    //   flex-wrap: wrap;
    // }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#about-me {
  background-color: #fff;

  .container {
    align-items: stretch;
    @include breakpoint(tablet) { display: block; }
  }

  header {
    @extend .container;
    @extend %flex;
    padding-bottom: 0;
    align-items: flex-start;
    @include breakpoint(tablet) { display: flex; }

    h1 {
      @extend %title;
    }
  }

  .technology {
    padding: $padding-large;
    padding-top: 0;
    flex: 1 1 33.3333%;

    @include breakpoint(tablet) {
      padding-left: 0;
      padding-right: 0;
    }

    h1 {
      color: lighten($text-color, 40%);
      text-shadow: -1px -1px 0 lighten($text-color, 30%);
      font-size: $font-size-xlarge * 2;
      font-weight: 600;
      margin-top: 0;
      text-transform: lowercase;
      text-align: center;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
