{% if page.series %}
  <aside class="series-post-list">
    <h3>Posts in this series</h3>

    <ol>
      {% for post in site.posts reversed %}
        {% if page.series == post.series %}
        <li>
          {% if page.url == post.url %}
            {% if post.series_post_title %}
              {{ post.series_post_title }}
            {% else %}
              {{ post.title }}
            {% endif %}
          {% else %}
            <a href="{{ post.url | prepend: site.baseUrl }}">
              {% if post.series_post_title %}
                {{ post.series_post_title }}
              {% else %}
                {{ post.title }}
              {% endif %}
            </a>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ol>
  </aside>
{% endif %}
