.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #2A413E;
  padding: $padding-xsmall $padding-xlarge;
  z-index: 1000;

  .brand {
    display: flex;
    flex: none;
    align-items: center;

    .avatar {
      height: 50px;
      width: 50px;
      margin-right: $margin-large;
      @include border-radius(100%);
    }

    h1 {
      font-weight: 600;
    }
  }

  %nav-button {
    @include border-radius($padding-large * 2);
    padding: $padding-small $padding-large;
    color: $text-color-light;
    font-size: $font-size-large;
    transition: background-color .3s;
    text-align: center;
  }

  nav {
    padding: $padding-small 0;

    a {
      @extend %nav-button;
      margin: 0 $margin-small;
      background-color: transparent;
      display: inline-block;

      &:hover {
        background-color: $brand-color;
      }
    }
  }

  a {
    color: $text-color-light;
    text-decoration: none;
    font-size: $font-size-large;
  }

  button {
    @extend %nav-button;
    background-color: $brand-color;

    &:hover {
      background-color: $brand-color-light;
    }
  }
}
