.site-header {
  @extend %flex;
  position: fixed;
  width: 100%;
  background: #2A413E;
  padding: $padding-xsmall $padding-xlarge;
  z-index: 1000;
  @include breakpoint(tablet) { justify-content: flex-start;}

  .brand {
    @extend %flex;
    align-items: center;

    h1 {
      font-weight: 600;
      @include breakpoint(tablet) { display: none; }
    }

    .avatar {
      margin-right: $margin-large;
      @include breakpoint(mobile) {
        margin-right: 0;
        height: 40px;
        width: 40px;
      }
    }
  }

  %nav-button {
    @extend .button;
    border: none;
    color: $text-color-light;

    &:visited, &:hover {
      color: $text-color-light;
    }
  }

  nav {
    padding: $padding-small 0;

    a {
      @extend %nav-button;
      margin: 0 $margin-xsmall;
      background-color: transparent;

      &:hover {
        background-color: $brand-color;
      }
    }
  }

  a {
    color: $text-color-light;
    text-decoration: none;
    font-size: $font-size-large;
  }
}
