---
layout: blog
---

<article class="post">
  <div class="post-body">
    {% if page.cover %}
      <header class="post-cover">
        <img src="{{page.cover}}" alt="{{page.cover-alt}}" />
        <div class="post-cover-inner">
          <h1>{{ page.title }}</h1>
        </div>
      </header>
    {% endif %}

    <div class="post-content">
      {% if page.cover %}
        {% include posts/meta.html %}
      {% else %}
        <header>
          {% include posts/meta.html %}
          <h1>{{ page.title }}</h1>
        </header>
      {% endif %}

      {{ content }}
    </div>
  </div>


  {% include posts/series-list.html %}
  {% include posts/disqus.html %}
  {% include posts/navigation.html %}

</article>
