<div class="container">
  <aside>
    <h1>About&nbsp;me</h1>
    <p>
      I am a software developer, currently based in Yorkshire, with experience in a range of programming languages
      and technologies and specialising in .NET and Javascript.
    </p>

    <p>
      I believe that there is more to software development than simply producing code that works.  I create well-crafted
      solutions using a Domain Driven Design approach to provide real value and an adaptable codebase that
      can evolve along with the business.
    </p>
  </aside>

  <aside>
    <h1>Availability</h1>
    <p>
      I am currently engaged in a contract with NHS Digital in Leeds but I am available for part-time freelance
      work.  Please get in touch to discuss your project needs.
    </p>

    <p>
      My earliest expected availability for Leeds or remote based contracts is <strong>3rd July 2017</strong>.
    </p>
  </aside>
</div>

<footer>
  <a href="/files/cv.pdf" class="button accent">Download CV</a>
</footer>
