<div class="container">
  <aside>
    <h1>About&nbsp;me</h1>
    <p>Are you gonna order something, kid? Let me show you my plan forsaksdjaskjdf ksanf aksd fsdajnkfa jskd fasdk fjaskdljf alskdbfasldjfb sadkjf ad fasdfasdfb asldflabsdflasbjdkfajsbf   jklbbsa fdb fbasdf as  asdnfaknsdfk aks dfn send nd sakjd kajs dask dk sd nijnk i  k  ing you home. Please excuse the crudity of this model, I didn't have time to build it to scale or to paint it.</p>
  </aside>

  <aside>
    <h1>Availability</h1>
    <p>Are you gonna order something, kid? Let me show you my plan for sending you home. Please excuse the crudity of this model, I didn't have time to build it to scale or to paint it.</p>
  </aside>
</div>

<footer>
  <a href="/files/jason-mitchell-cv.pdf" class="button accent">Download CV</a>
</footer>
