<div class="container">
  <aside>
    <h1>About&nbsp;me</h1>
    <p>
      I am a software developer, currently based in Belfast, with experience in a range of programming languages
      and technologies and specialising in .NET and Javascript.
    </p>

    <p>
      I believe that there is more to software development than simply producing code that works.  I apply Domain
      Driven Design practices and principles to create solutions that provide real value and an adaptable codebase that
      can evolve along with the business.
    </p>
  </aside>

  <aside>
    <h1>Availability</h1>
    <p>
      I currently work for Philips in Belfast but I am available for freelance work.  Please get in touch to
      discuss your project.
    </p>
  </aside>
</div>

<footer>
  <a href="/files/cv.pdf" class="button accent">Download CV</a>
</footer>
