<form action="https://formspree.io/contact@json.codes" method="POST">
  <header>
    <h2>Contact</h2>
  </header>

  <input type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_subject" value="New email from json.codes" />

  <input type="email" name="_replyto" placeholder="Your email address" required />
  <textarea name="message" placeholder="Your message" required=""></textarea>

  <section class="actions">
    <button type="button" data-action="close-modal">Cancel</button>
    <button class="accent">Send</button>
  </footer>
</form>
